<!DOCTYPE HTML>
<html>
	<head>
        {% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                    {% include 'header.html' %}

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Erbjudanden</h2>
								<p>Välj en text nedan eller sök här: TODO: Fuzzy word search of texts</p>
							</header>
							<div class="row">
								<div class="6u 12u$(medium)">
									<ul class="alt">
										<li><a href="article">Kampanjvaror tar slut</a></li>
										<li>Rubrik 2</li>
										<li>Rubrik 3</li>
										<li>Rubrik 4</li>
										<li>Rubrik 5</li>
									</ul>
								</div>
							</div>
						</div>
					</section>

				<!-- Footer -->
                    {% include 'footer.html' %}

			</div>
	</body>
</html>
