<!DOCTYPE HTML>
<html>
	<head>
		{% include 'head.html' %}
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
				{% include 'header.html' %}

                    <!-- Banner -->
                        <section id="banner" class="wrapper alt style2">
                            <form method="post" action="#">
                                <div class = "row">
                                    <div class="4u 12u$(xsmall)">
                                        <input type="text" name="user-email" id="user-email" value="" placeholder="Email" />
                                    </div>
                                    <div class="4u 12u$(xsmall)">
                                        <input type="text" name="user-password" id="user-password" value="" placeholder="Lösenord" />
								</div>
							</div>
						</form>
						<ul class="actions">
							<li><a href="categories" class="button special">Logga in</a></li>
						</ul>
					</section>

				<!-- Footer -->
                    {% include 'footer.html' %}


        </div>
</body>
</html>